@font-face {
	font-family: Gotham;
	src: url(../fonts/GothamMedium.otf);
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: Gotham;
	background-color: #f3f1f2;
}
.container {
	display: block;
	width: auto;
	min-height: 20px;
}
/*-----------  HEADER --------------*/
.top-menu {
	background-color: #fff;
}
.site-header {
	display: flex;
	width: 980px;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 14px;
}
.site-logo {
	display: flex;
	align-items: center;
	background-color: #fff;
}
.site-logo img {
	display: block;
}
.site-navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
	background-color: #fff;
}
.site-navigation a {
	text-decoration: none;
	color: #96a6a7;
	margin-right: 22px;
	transition: 0.2s;
	border-bottom: 2px solid #fff;
}
.site-navigation a:last-child {
	margin-right: 18px;
}
.site-navigation a:hover {
	color: #e94e38;
	border-bottom: 2px solid #333;
}
.site-navigation a:focus {
	color: #1baf5d;
}
.site-search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 74px;
	height: 74px;
	background-color: #e2dee0;
	transition: 0.2s;
}
.site-search:hover {
	background-color: #A5A4A4;
}
.site-search img {
	display: block;
	transition: 0.5s;
	transform-origin: 10px 10px;
}
.site-search:hover img {
	transform: scale(1.2) rotate(-360deg);
}
.site-login {
	display: flex;
	border: 0;
	align-items: center;
	width: 162px;
	height: 74px;
	color: #fff;
	background-color: #e94e38;
	transition: 0.2s;
}
.site-login-logo {
	display: block;
	width: 15px;
	height: 17px;
	background: url("../images/login.png") no-repeat center;
	margin-left: 35px;
}
.site-login p {
	text-transform: uppercase;
	margin-left: 15px;
	transition: 0.2s;
}
.site-login:hover {
	background-color: #1baf5d;
}
.site-login:hover p {
	margin-left: 13px;
	font-size: 15px;
}
/*--------------- SEARCH FORM  ----------------*/
.form-bg {
	display: flex;
	background: #1a1614 url("../images/form-bg.png") no-repeat center;
	background-size: 100%;
	width: auto;
	height: 375px;
}
.form-search {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.form-search h2 {
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	margin-top: 60px;
}
.second-line {
	display: flex;
}
.sl-1-input,
.sl-2-input {
	display: block;
	width: 222px;
	height: 50px;
	border: 1px solid #6c6c69;
	background-color: rgba(255,255,255,0.1);
	border-radius: 25px;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
	padding: 0 10px 0 10px;
	transition: 0.2s;
}
.sl-1-input {
	margin-right: 27px;
}
.sl-1-input::placeholder,
.sl-2-input::placeholder,
.tl-input::placeholder {
	color: #fff;
	font-weight: normal;
}
.sl-1-input:focus,
.sl-2-input:focus,
.tl-input:focus {
	outline: none;
	border: 1px solid lightblue;
}
.tl-input {
	display: block;
	width: 474px;
	height: 50px;
	border: 1px solid #6c6c69;
	background-color: rgba(255,255,255,0.1);
	border-radius: 25px;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
	padding: 0 10px 0 10px;
}
.btn-search {
	display: block;
	margin: 28px auto 0;
	width: 140px;
	height: 60px;
	background-color: #e94e38;
	border-radius: 30px;
	border: 0;
	border-bottom: 2px solid #c1412e;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	transition: 0.2s;
}
.btn-search:hover {
	background-color: #1baf5d;
	color: #222;
	transform: scale(1.04);
	border-bottom-color: #168948; 
}
.btn-search:focus {
	outline: none;
}
/*----------------- FILTER BLOCK ----------------------*/
.filter-container {
	border-bottom: 1px solid #e2dee0;
	background-color: #fff;
}
.filter-block {
	display: flex;
	width: 980px;
	height: 60px;
	margin: 0 auto;
	min-height: 20px;
	background-color: #fff;
}
.bread-crumbs {
	display: flex;
	align-items: center;
}
.crumbs-list {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.crumbs-list a {
	text-decoration: none;
	font-size: 12px;
	color: #96a6a7;
	text-transform: uppercase;
}
.crumbs-item {
	margin-right: 17px;
}
.current-item a {
	color: #e94e38;
}
/************/
.dubai {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
.dubai-container {
	display: flex;
}
.country-input {
	display: block;
	width: 117px;
	height: 35px;
	border: 1px solid #cad2d3;
	background-color: #fff;
	border-radius: 18px;
	font-size: 12px;
	text-transform: uppercase;
	color: #e94e38;
	text-align: center;
	margin-right: 10px;
}
.country-input:focus {
	border-radius: 18px;
}
.hide-map {
	display: block;
	width: 127px;
	height: 37px;
	border: 0;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #1baf5d;
	border-radius: 18px;
	text-align: center;
}
/************/
.filter {
	display: flex;
}
.filter-list {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.filter-text {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #96a6a7;
	text-transform: uppercase;
	margin-right: 10px;
}
.filter-item {
	margin-right: 9px;
}
.filter-item a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #b6c0c1;
}
.filter-item:first-child a{
	background-color: #1baf5d;
}
.filter-item:nth-child(4) a{
	background-color: #f19e1f;
}
.filter-item:last-child a{
	background-color: #88499c;
}
.filter-item:last-child {
	margin-right: 0;
}
.filter-list a {
	text-decoration: none;
	color: #96a6a7;
}
/*-------------------- MAIN ------------------------*/
.posts-container {
	display: column;
	flex-direction: row;
	width: 980px;
	margin: 0 auto;
}
.post-1-line {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 45px;
}
.post-item {
	position: relative;
	display: block;
	width: 210px;
	height: 266px;
	border-radius: 4px;
	border-bottom: 1px solid #e2dee0;
	background-color: #fff;
	margin: 0 18px 0;
}
.post-item img {
	display: block;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.block-home img {
	border-bottom: 3px solid #1baf5d;
}
.block-music img {
	border-bottom: 3px solid #f19e1f;
}
.block-bus img {
	border-bottom: 3px solid #88499c;
}
.post-price {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65px;
	height: 25px;
	border-radius: 13px;
	background-color: #1baf5d;
	position: absolute;
	top: 7px;
	right: 8px;
}
.post-price p {
	margin: 0;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
}
.post-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 55px;
	background-size: 50%;
	border-radius: 50%;
	border: 3px solid #fff;
	position: absolute;
	top: 50%;
	margin-top: -23px;
	left: 50%;
	margin-left: -30px;
}
.block-home .post-icon {
	background: #1baf5d url('../images/home.png') no-repeat center;
}
.block-music .post-icon {
	background: #f19e1f url('../images/music.png') no-repeat center;	
}
.block-bus .post-icon {
	background: #88499c url('../images/bus.png') no-repeat center;
}
.post-description {
	display: block;
	height: 56px;
	color: #566375;
	font-size: 14px;
	text-align: center;
	padding: 18px 10px 0;
	box-sizing: border-box;
}
.post-name {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
}
.block-home .post-name {
	color: #1baf5d;
}
.block-music .post-name {
	color: #f19e1f;
}
.block-bus .post-name {
	color: #88499c;
}
.post-mark-list {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.post-mark-item {
	display: block;
	width: 11px;
	height: 11px;
	background: url("../images/star-on.png") no-repeat center;
}
.block-home .post-mark-item:nth-child(5),
.block-bus .post-mark-item:nth-child(5) {
	background: url("../images/star-off.png") no-repeat center;
}
.post-mark-item-day {
	display: block;
	background: none;
	color: #96a6a7;
	font-size: 12px;
	font-weight: normal;
	margin-left: 5px;
}
.post-mark-item-day p {
	margin: 0;
}
/**********/
.post-2-line {
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-height: 260px;
	margin-top: 30px;
}
.post-big-item {
	position: relative;
	display: block;
	width: 455px;
	height: 266px;
	border-radius: 4px;
	border-bottom: 1px solid #e2dee0;
	background-color: #fff;
	margin: 0 18px 0;
}
.img-grad img {
	display: block;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.img-grad::before {
	content: "";
	display: block;
	width: 455px;
	height: 120px;
	position: absolute;
	background-image: linear-gradient(to top, #000, 30%, transparent);
}
.post-big-item .post-icon {
	top: 50%;
	margin-top: -45px;
	left: 10%;
	margin-left: -25px;
}
.post-info {
	display: flex;
	align-items: center;
	position: absolute;
	top: 29%;
	left: 22%;
}
.post-info .post-name {
	margin-right: 10px;
	color: #fff;
	font-size: 18px;
}
.post-mark-list .profile-mark {

}
.profile {
	display: flex;
}
.profile-avatar {
	position: relative;
	display: block;
	min-width: 55px;
	height: 55px;
	border: 3px solid #e2dee0;
	border-radius: 50%;
	margin-left: 20px;
	margin-top: 42px;
}
.profile-avatar::before {
	position: absolute;
	top: -18px;
	left: 49%;
	content: "";
	display: block;
	width: 2px;
	height: 14px;
	background-color: #f3f1f2;
}
.lucy .profile-avatar {
	background: #1baf5d url("../images/lucy.png") no-repeat center;
	background-position: 48% 30%;
}
.peter .profile-avatar {
	background: #f19e1f url("../images/peter.png") no-repeat center;
	background-position: 95% 0%;
}
.profile-comment {
	display: flex;	
	flex-direction: column;
	margin-left: 17px;
}
.profile-mark {
	align-self: flex-start;
	margin-top: 15px;
}
.profile-mark .post-mark-item {
	width: 15px;
	height: 15px;
	background-size: 100%;
}
.profile-mark .post-mark-item:last-child {
	background-size: 100%;
}
.profile-comment .profile-name {
	margin: 15px 0 12px;
	color: #566375;
	font-size: 16px;
	font-weight: bold;

}
.profile-comment .post-description {
	color: #566375;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	margin: 0;
	padding: 0 5px 5px 0;
}
/************/
.post-last-line {
	display: flex;
	margin-top: 30px;
	margin-bottom: 30px;
}
.load-more {
	display: block;
	text-align: center;
	padding: 10px 0  35px;
	border-bottom: 1px solid #cccdd3;
}
.load-more a {
	text-decoration: none;
	border-bottom: 1px solid #cccdd3;
	color: #566375;
	font-size: 18px;
}
/*------------------ Content bottom ----------------------*/
.content-bottom {
	display: column;
	flex-direction: row;
	width: 820px;
	margin: 0 auto;
}
.what-can {
	display: block;
	text-align: center;
}
.what-can h2 {
	font-size: 22px;
	margin: 0;
	padding: 0;
	color: #566375;
	margin-top: 93px;
}
.what-can p {
	padding: 0;
	margin: 0;
	color: #96a6a7;
	font-size: 16px;
	font-weight: normal;
	margin-top: 12px;
}
.content-bottom .feature-block {
	display: block;
	margin-top: 70px;
}
.feature-block ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.feature-block li {
	margin-right: 60px;
}
.feature-block li:last-child {
	margin-right: 0;
}
.feature-block a {
	display: block;
	width: 100px;
	height: 100px;
	background-color: transparent;
	border: 2px solid #9dacad;
	border-radius: 50%;
	background-size: 60%;
}
.feature-block li:nth-child(1) a {
	background: url("../images/home-big.png") no-repeat center;
	border-color: #1db05e;
}
.feature-block li:nth-child(2) a {
	background: url("../images/girl-big.png") no-repeat center;
}
.feature-block li:nth-child(3) a {
	background: url("../images/study-big.png") no-repeat center;
}
.feature-block li:nth-child(4) a {
	background: url("../images/music-big.png") no-repeat center;
}
.feature-block li:nth-child(5) a {
	background: url("../images/bus-big.png") no-repeat center;
}
.reality {
	display: block;
	margin-bottom: 145px;
}
.reality h2 {
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: #1baf5d;
}
.reality .energy,
.reality .leaf {
	display: block;
	width: 50%;
	float: left;
}
.clearfix {
	clear: both;
}
.reality .icon {
	display: block;
	min-width: 62px;
	min-height: 62px;
	width: 62px;
	height: 62px;
	background-color: #1baf5d;
	border-radius: 50%;
	margin: 0 30px;
}
.reality .energy .icon {
	background: #1baf5d url("../images/energy.png") no-repeat center;
}
.reality .leaf .icon {
	background: #1baf5d url("../images/leaf.png") no-repeat center;
}
.reality .energy,
.reality .leaf {
	display: flex;
}
.reality p {
	margin-left: 122px;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	color: #566375;
	padding-right: 10px;
}
/*------------ FOOTER -----------------*/
.footer-page {
	display: block;
	width: 100%;
	height: 500px;
	background: #1a1614 url("../images/footer-bg.png") no-repeat center;
	background-size: 100%;
}
.footer-container {
	display: block;
	width: 980px;
	min-height: 50px;
	margin: 0 auto;
	padding-top: 66px;
}
.subscribe-block {
	text-align: center;
	border-bottom: 1px solid #565452;
	padding-bottom: 55px;
}
.subscribe-block h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: normal;
	line-height: 1;
	color: #fff;
	padding-bottom: 45px;
}
.text-submit-block {
	position: relative;
	display: inline-block;
}
.text-submit-block span {
	position: absolute;
	top: 23px;
	left: 33px;
	display: inline-block;
	width: 18px;
	height: 15px;
	background: url("../images/letter.png") no-repeat center;
}
.subscribe-block input[type="text"] {
	display: block;
	width: 490px;
	height: 60px;
	margin: 0 auto;
	padding: 0;
	background-color: rgba(255,255,255,0.1);
	border: 1px solid #62696b;
	border-radius: 30px;
	box-sizing: border-box;
	padding-left: 60px;
	color: #fff;
	font-size: 18px;
	font-weight: normal;
}
.subscribe-block input:focus {
	outline: 0;
	border: 1px solid lightblue;
}
.subscribe-block input::placeholder {
	color: #fff;
}
.subscribe-block input:focus::placeholder {
	color: #888;
}
.subscribe-block button {
	position: absolute;
	top: 6px;
	right: 6px;
	display: block;
	width: 120px;
	height: 50px;
	padding: 0;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	background-color: #e94e38;
	border: 0;
	border-bottom: 2px solid #c1412e;
	border-radius: 25px;
	transition: 0.2s;
}
.subscribe-block button:hover {
	background-color: #1db05e;
	border-bottom-color: #1a9852;
	color: #333;
}
/*-----------------------*/
.footer-menu {
	display: flex;
}
.footer-menu div {
	width: 100%;
	margin-top: 45px;
}
.footer-menu h3 {
	display: inline;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	border-bottom: 2px solid #ccc;
}
.footer-menu ul {
	list-style: none;
	margin: 25px 0 0;
	padding: 0;
}
.footer-menu a {
	text-decoration: none;
	color: #c0bebc;
	font-size: 14px;
	font-weight: normal;
}
.footer-menu .social-icons {
	display: flex;
	justify-content: space-between;
	width: 162px;
	margin-bottom: 42px;
}
.footer-menu .social-icons a {
	display: block;
	width: 30px;
	height: 30px;
}
.footer-menu .social-icons li:nth-child(1) a {
	width: 15px;
	background: url("../images/fb.png") no-repeat center;
}
.footer-menu .social-icons li:nth-child(2) a {
	background: url("../images/t.png") no-repeat center;
}
.footer-menu .social-icons li:nth-child(3) a {
	background: url("../images/g.png") no-repeat center;
}
.footer-menu .social-icons li:nth-child(4) a {
	background: url("../images/yt.png") no-repeat center;
}
.footer-menu .copyright{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
}
